@import url("./reset.css");
@import url("./menu.css");

body {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-family: 'Roboto Mono', monospace;
}

aside, main {
    box-sizing: border-box;
}

/*style do aside*/

aside {
    background-color: var(--bg-card);
    border: 1px solid var(--avatar);
    margin: 3.5rem 1rem 3.5rem 3.5rem;
    border-radius: 20px;
}

main {
    background-color: var(--bg-card);
    border: 1px solid var(--avatar);
    margin: 3.5rem 3.5rem 3.5rem 1rem;
    border-radius: 20px;
    position: relative;
}

.personal-information {
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.personal-information img {
    width: 100px;
    background-color: var(--avatar);
    padding: 30px;
    border-radius: 20px;
}

.personal-information h1 {
    padding: 20px 0;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.personal-information span {
    background-color: var(--avatar);
    padding: 6px 20px;
    text-align: center;
    border-radius: 10px;
    font-size: 12px;
}

.box-icons {
    display: flex;
}

.box-icons ul li {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem;
}

.box-icons ul li img{
    width: 18px;
    border-top: 1px solid var(--icon-color);
    border-left: 1px solid var(--icon-color);
    border-radius: 8px;
    background-image: linear-gradient(140deg, var(--icon-color) 1%, var(--bg-information) 10%, var(--bg-card) 60%);
    padding: 0.8rem;
}

.box-icons ul li p {
    color: #ccc;
    font-size: 12px;
}

.box-icons ul li span {
    padding: 0.5rem;
    font-size: 15px;
    display: block;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    cursor: pointer;
}

.social-media img{
    margin: 2rem 0;
    width: 20px;
    transition: opacity 0.2s ease-out;
}

.social-media img:hover {
    opacity: 0.5;
}

/*style do main*/

/*conteudo*/

.content {
    padding: 0 3rem;
    font-weight: 100;
}

.content h2 {
    font-weight: bold;
    font-size: 2rem;
    position: relative;
    margin: 2rem 0 2rem;
    padding-bottom: 1.5rem;
}

.content h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 6px;
    background-color: var(--text-hover);
    z-index: 0;
    border-radius: 20px;
}