@import url("./reset.css");
@import url("./menu.css");

/*section de skills*/

.skills {
    padding: 0.5rem 3rem 2rem 3rem;
}

.skills-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: start;
}

.skills-content .skills-box {
    border-top: 1px solid var(--icon-color);
    border-left: 1px solid var(--icon-color);
    border-radius: 8px;
    background-image: linear-gradient(140deg, var(--icon-color), var(--bg-information) 1%, var(--bg-card) 60%);
    padding: 1rem;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 60%;
    padding: 25px;
}

.skills-content .skills-box:nth-child(1), .skills-content div:nth-child(3) {
    margin-right: 2rem;
}
.skills-content .skills-box:nth-child(3), .skills-content div:nth-child(4) {
    margin-top: 2rem;
}

.skills-content .skills-box h3 {
    font-weight: bold;
    padding-bottom: 4px;
}

.skills-content .skills-box p {
    font-weight: lighter;
}

.skills-content .skills-box h3, p {
    display: flex;
    justify-content: right;
}

/*Testimony*/

.testimony{
    padding: 0.5rem 3rem;
    position: relative;
}

.testimony h3 {
    margin-bottom: 2rem;
}

.testimony-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: start;
}

.testimony-content div{
    border-top: 1px solid var(--icon-color);
    border-left: 1px solid var(--icon-color);
    border-radius: 8px;
    background-image: linear-gradient(140deg, var(--icon-color), var(--bg-information) 1%, var(--bg-card) 60%);
    padding: 2.5em;
    position: relative;
    height: 4.5rem;
    display: flex;
    align-items: center;
}

.testimony-content div:nth-child(1), 
.testimony-content div:nth-child(3) {
    margin-right: 2rem;
}
.testimony-content div:nth-child(1), 
.testimony-content div:nth-child(4) {
    margin-top: 2rem;
}

.testimony-content div img {
    width: 15%;
    border-top: 1px solid var(--icon-color);
    border-left: 1px solid var(--icon-color);
    border-radius: 20px;
    background-image: linear-gradient(140deg, var(--icon-color), #2A2A2B 1%, var(--bg-card) 80%);
    padding: 0.5rem;
    position: absolute;
    top: -1.5rem;
}

.testimony-content div p {
    font-weight: lighter;
    
}

.testimony-content div p::after {
    content: '"';
    position: absolute;
    top: 0;
    right: 1;
    z-index: 1;
    color: var(--text-hover);
    font-weight: bold;
    font-size: 60px;
    font-family: 'Secular One', sans-serif;
}

/*Clients*/

.clients{
    padding: 0.5rem 3rem;
}

.clients h3 {
    margin-bottom: 2rem;
}

.clients img:hover {
    cursor: pointer;
}