@import url("./reset.css");
@import url("./menu.css");

body {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

aside {
    background-color: var(--bg-card);
    border: 1px solid var(--avatar);
    margin: 3.5rem 1rem 3.5rem 3.5rem;
    border-radius: 20px;
}

main {
    background-color: var(--bg-card);
    border: 1px solid var(--avatar);
    margin: 3.5rem 3.5rem 3.5rem 1rem;
    border-radius: 20px;
}

.information {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.personal-information {
    padding: 2rem;

}

.personal-information img {
    width: 100px;
    background-color: var(--avatar);
    padding: 20px;
    border-radius: 20px;
}

.personal-information h1 {
    padding: 20px 0;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.personal-information span {
    background-color: var(--avatar);
    padding: 6px;
    text-align: center;
    border-radius: 10px;
}

.box-icons {
    display: block;
}

.box-icons ul {
    
}

.box-icons ul li {
    margin: 5px;
}

.box-icons ul li img{
    width: 18px;
    border-top: 1px solid var(--icon-color);
    border-left: 1px solid var(--icon-color);
    border-radius: 8px;
    background-image: linear-gradient(140deg, var(--icon-color) 0.08%, var(--bg-information) 10%, var(--bg-card) 20%);
    padding: 0.8rem;
}