.menu{
    background-color: var(--avatar);
    padding: 2rem 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.menu ul {
    display: flex;
    gap: 4%;
    flex-direction: row;
}

.menu ul li a:hover {
    color: #ccc;
}
