.content-menu {
    position: relative;
}

.menu{
    background-color: #2A2A2B;
    padding: 1.5rem 0;
    border: 1px solid #363636;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 20px;
    position: absolute;
    top: 0;
    right: 0;
    width: 55%;
    z-index: 1;
}

.menu ul {
    padding: 0;
    display: flex;
    gap: 5%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu ul li {
    font-weight: 400;
    font-size: 1rem;
}

.menu ul li a {
    transition: color 0.3s ease-in-out;
}

.menu ul li a:hover {
    color: var(--text-hover);
}

@media screen and (max-width: 800px) {
    .menu {
        width: 100%;
        position: absolute;
        border-radius: 20px;
    }

    .menu ul li a {
        font-size: 18px;
    }
}

@media screen and (max-width: 480px) {
    .menu ul li a {
        font-size: 14px;
    }
}

 /*sub-menu-resume*/ 

 .sub-menu-resume {
    display: flex;
    border: 1px solid var(--text-hover);
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    font-weight: bold;
    margin: 15px 0;
    background-color: var(--avatar);
    height: 40px;
 }

 .sub-menu-resume button {
    font-weight: normal;
    cursor: pointer;
    text-transform: uppercase;
    transition: color .3s ease-in-out;
    background-color: transparent;
    border: none;
 }

 .sub-menu-resume button:hover,
 .sub-menu-resume button:active {
    color: var(--text-hover);
 }

 @media screen and (max-width: 480px) {
    .sub-menu-resume button:first-child {
        margin-right: 20px;
    }
 }