.content-menu {
    position: relative;
}

.menu{
    background-color: #2A2A2B;
    padding: 1.8rem 0;
    border: 1px solid #363636;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 20px;
    position: absolute;
    top: 0;
    right: 0;
    width: 55%;
    z-index: 1;
}

.menu ul {
    display: flex;
    gap: 7%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu ul li {
    font-weight: bold;
    font-size: 16px;
}