@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700&display=swap');
@import url("./reset.css");
@import url("./menu.css");

* {
    text-decoration: none;
	color: white;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
/*Variaveis globais*/
:root {
	--icon-color: #ffd369;
    --bg-color: #121212;
    --bg-card: #1e1e1f;
	--bg-information: #373737;
    --text-hover: #d4b05d;
    --avatar: #3B3B3C;
}

/*variaveis principais*/
body {
    background-image: url(../assets/reset/bg.svg);
}

nav {
    background-color: var(--bg-card)
}

body {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-family: 'Roboto Mono', monospace;
}

main, aside {
    background-color: var(--bg-card);
    opacity: .9;
}

aside {
    border: 1px solid var(--avatar);
    margin: 1rem 1rem 1rem 2rem;
    border-radius: 20px;
}

main {
    border: 1px solid var(--avatar);
    margin: 1rem 2rem 1rem 1rem;
    border-radius: 20px;
    position: relative;
}

/*informacoes pessoais*/
