@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700&display=swap');
@import url("./reset.css");
@import url("./menu.css");

* {
    text-decoration: none;
	color: white;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*Variaveis globais*/
:root {
	--icon-color: #ffd369;
    --bg-color: #121212;
    --bg-card: #1e1e1f;
	--bg-information: #373737;
    --text-hover: #d4b05d;
    --avatar: #3B3B3C;
}

/*variaveis principais*/
body {
    background-image: url(../assets/reset/bg.svg);
}

nav {
    background-color: var(--bg-card)
}

body {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

main, aside {
    background-color: var(--bg-card);
    opacity: .9;
}

aside {
    border: 1px solid var(--avatar);
    margin: 1rem 1rem 1rem 2rem;
    border-radius: 20px;
}

main {
    border: 1px solid var(--avatar);
    margin: 1rem 2rem 1rem 1rem;
    border-radius: 20px;
    position: relative;
}

/*aside*/

.apresentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 5%;
}

.apresentation img{
    border-radius: 60px;
    border: 2px solid var(--text-hover);
    width: 120px;
}

.apresentation h1 {
    margin: 5px;
}

.apresentation span {
    background-color: var(--avatar);
    border-radius: 20px;
    font-size: 14px;
    padding: 0.5rem
}

.data ul {
    margin: 10px;
}

.data ul li{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.data ul li p{
    font-size: 12px;
    font-weight: 700;
}

.data ul li p span {
    font-weight: 100;
}

.data li img {
    width: 45px;
    height: 45px;
    border-top: 1px solid var(--icon-color);
    border-left: 1px solid var(--icon-color);
    border-radius: 8px;
    background: linear-gradient(140deg, var(--icon-color) 1%, var(--bg-information) 5%, var(--bg-card) 40%);
    padding: 0.8rem;
    margin-bottom: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.social-media ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px
}

.social-media h2 {
    font-size: 16px;
    text-align: center;
    position: relative;
}

.social-media ul li a img {
    width: 20px;
}

@media screen and (max-width: 800px) {
    body {
        grid-template-columns: 1fr;
        gap: 20px
    }

    aside {
        margin: 0 auto;
        width: 90%;
    }

    main {
        margin: 0 auto;
        width: 90%;
    }

    .data {
        display: flex;
        justify-content: flex-end;
    }

    .data ul {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .data li img {
        width: 50px;
        height: 50px;
    }

    .data ul li img:active {
        opacity: .3;   
    }

    .data ul li {
        width: 100%;
        transition: opacity 0.3s ease-in-out;  
        padding: 5px;
    }

    .data ul li:nth-child(1), 
    .data ul li:nth-child(3)  {
       padding-left:60px;
    }

    .data ul li p {
        display: flex;
        flex-direction: column;
    }

    .social-media {
        margin-top: 10px;
    }
  }